@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

.App {
    font-family: 'Slabo 27px', serif;
    text-align: center;
    height: 100vh;
}
