@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&family=Recursive&display=swap');
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pf-400 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
}

.pf-600 {
  font-family: "Cookie", cursive;
  font-weight: 400;
}

.pf-700 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.lato-300 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.lato-400 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}



.gallery-title {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 4%;
  background-color: #232020;
  color: bisque;
}

.about-gap{
  display: flex;
  padding-bottom: 100px;
  background-color: #232020;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: local('Gilroy-Bold'), url(./gilroy/Gilroy-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: local('Gilroy-Medium'), url(./gilroy/Gilroy-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: local('Gilroy-Light'), url(./gilroy/Gilroy-Light.ttf) format('truetype');
}

.pf-200 {
  font-family: 'Gilroy-Medium', sans-serif;

  font-weight: 400;
}

 